*{
    
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: rgb(41, 40, 40);
}
.body{
    display: flex;
}
.container{
    background-color:  rgb(209, 207, 207);
    width: 60vb;
    height: 45vh;
    margin-top: 11em;
    margin-left: 30em;
    border-radius: 10px;
    border: 1px solid rgba(201, 199, 199, 0.747);
    position: relative;

}

.container .mpn{
    background-color: rgb(87, 86, 86, 0.0);
    position: relative;
    top: 60px;
    text-transform: capitalize;
    font-size: 15px;
    
}

.container .inp1{
    background-color: rgb(212, 214, 214);
    margin-top: 80px;
    border-radius: 5px;
    outline: none;
    border: 1 px solid rgb(17, 17, 17);
    width: 190px;
    height: 30px;
  
}
form{
    background-color: rgba(240, 248, 255, 0);
}
.inp1:valid{
    border-color: rgba(79, 235, 74, 0.774);
}
.inp1:focus:not(:placeholder-shown):invalid{
    border-color: rgba(230, 34, 34, 0.651);
}
.inp1::placeholder{
    color: rgb(15, 43, 66);
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.login{
    background-color: rgba(15, 43, 66, 0.938);
    border: 1px solid rgb(15, 43, 66);
    margin-top: 30px;
    margin-left: 10px;
    width: 70px;
    height: 40px;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(219, 218, 218);

}
.otpinp{
    background-color: rgb(212, 214, 214);
    margin-top: 80px;
    border-radius: 5px;
    outline: none;
    border: 1 px solid rgb(17, 17, 17);
    width: 190px;
    height: 30px;
}
.otpinp:valid{
    border-color: rgba(79, 235, 74, 0.774);
}
.otpinp:focus:not(:placeholder-shown):invalid{
    border-color: rgba(230, 34, 34, 0.651);
}
.otpinp::placeholder{
    color: rgb(15, 43, 66);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;

}
.otpbut{
    background-color: rgba(15, 43, 66, 0.938);
    border: 1px solid rgb(15, 43, 66);
    margin-top: 30px;
    margin-left: 10px;
    width: 70px;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(219, 218, 218);

}

p{
    background-color: rgb(87, 86, 86, 0.0);
    font-size: 20px;
}
 .google{
    background-color: rgb(98, 96, 96,0);
    margin:20px;
    color: rgb(29, 28, 28);
    font-size: 29px;
   
 }
 .github{
    background-color: rgb(98, 96, 96,0);
    margin: 20px;
    color: rgb(29, 28, 28);
    font-size: 30px;
 }

 .google i{
    background-color: rgb(98, 96, 96,0);
    
 }
 .github i{
    background-color: rgb(98, 96, 96,0);
 }

 .logoback{
    width: 300px;
    position:absolute; 
    top: 2%;
    left:42%
    
 }
 .time{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
    background-color: rgba(245, 242, 242, 0);
 }
 .timecount{
    background-color: rgba(24, 53, 78, 0);
    font-size: 12px;
    text-transform: capitalize;
    font-weight:bold;
    color: rgb(134, 93, 30);

 }
 .resendotp{
    background-color: rgba(240, 248, 255, 0);
    margin-right: 75px;
    color: rgb(134, 93, 30);
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    cursor:pointer;

    
 }